* {
    margin: auto;
    background: #f0f0ea;
    max-width: 1200px;
  }
  
#header {
    height: 80px;
    width: 100%;
    background-color: #6c5555;
    position: fixed;
    z-index: 1;
  }

  #Ancre {
      float: left;
      position: relative;
      top: 50px;
      left: 10px;
      z-index: 1;
      color: #6c5555;
      background-color:#6c5555
  }

  p {
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #left {
    height: 1000px;
    width: 55px;
    background-color: #ddafaf;
    float: left;
    position: fixed;
  }


 #right {
    height: 1200px;
    width: 45px;
    background-color: #ddafaf;
    float: right;
    position: relative;
    z-index: 1 ;
  }

  #footer {
    position: fixed;
    left: 0;
    bottom:0;
    height: 30px;
    right: 0px;
     width: 100%;
     background-color: #6c5555;
    
}

  

  h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: wavy;
    background-color: #ddafaf;
    padding: 2px;
    margin: 5px;
    color: #5B4747;
   
}

li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: circle;
    margin: 1px;
}

div.Photo {
    position: relative;
    top: 100px;
    left: 130px;
}

#Titre {
    position: relative;
    left : 200px;
    top: -180px;
   border: 10px;
   font-size: large;
    color: #342727;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
   border: #342727;
    border: dotted;
    width: 600px;
}
#agauche {
    display: block;
    position: relative;
    top: 120px;
    left: -320px ;
    width: 300px;
    border: #6c5555;
    border: solid;
}

#Exp {
    display: block;
    position: relative;
    margin-block-start: 20px;
    height: 200px;
    width: 600px;
    border: #6c5555;
    border: solid;   
    top: -40px;
    left: 200px
}

#Dip {
    display: block;
    margin-block-start: 50px;
    position: relative;
    width: 600px;
    height: 200px;
    border: #6c5555;
    border: solid;   
}

#Div {
    position: relative;
   display: block;
   margin-block-start: 20px;
    width: 600px;
    height: 200px;
    border: #6c5555;
    border: solid;   
}

