* {
    max-width: 1000px;
    margin: auto;
    background: #f0f0ea
  }

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: wavy;
    background-color: #ddafaf;
}

li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: circle;
}
div.entete {
    border: dotted; 
    padding: 1px;
    border: #6c5555;
}

   .image1 {
    height: 250px;
    width: 985px;
    background-color: #6c5555;
    position: static;
    z-index: 1;
  }

   .image2 {
       width: 10px;
       height: 10px; 
       padding-bottom: 20px;
   }

   .image3 {
       width: 985px; 
       height: 150px; 
   }

   .image4 {
    height: 1000px;
    width: 150px;
    background-color: #e0eeee;
    float: left;
    position: static;
  }


  div.agauche {
    border: solid; 
    width: 250px;
    padding: 1px; 
    text-align: left;
    color : #6c5555;
    margin-left: 160px;
    margin-bottom: 1000px;
   
}
  
div.exp {
    position: relative;
    top: -1125px;
    border: solid; 
    padding: 6px; 
    text-align: left;
    color : #6c5555;
    margin-left:460px;
    margin-bottom: 20px;

}

div.dip {
    position: relative;
    top: -1125px;
    border: solid; 
    padding-bottom:  6px; 
    text-align: left;
    color : #6c5555;
    margin-left: 460px;
}

div.div {
    position: relative;
    top: -1110px;
    border: solid; 
    padding: 6px; 
    text-align: left;
    color : #6c5555;
    margin-left: 460px;
}

div.enbas {
    position: relative;
    top: -1030px;
}

body{
    border: solid;
}