div.blocktext1 {
    background-color: #81c3c9; 
}

h1{
    background-color: #81c3c9;
}

h2 {
    font-weight: bold;
}

p {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

