.blocktext1 {
    background-color: #81c3c9; 
}

h1{
    background-color: #81c3c9;
}

h2 {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image1{
    position: relative;
    right:-1000px;
}
 
.p2{
    position: relative;
    right: -30px;
    top: -400px;
    width: 900px;
    text-align: justify;
}

.p4{
    position: relative;
    right: -30px;
    top: -400px;
    width: 900px;
    text-align: justify;
}
